.statusBar {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-top: 1px solid #999;
  background-color: white;
}
.topBar {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: white;
  height: 68px;
}
.topBar .title {
  float: left;
  margin-top: 4px;
  margin-left: 50%;
}
.topBar .btn_search {
  width: 100%;
}
.topBar .btn-clear {
  position: relative;
  float: right;
  width: 30px;
  height: 10px;
  top: -30px;
  vertical-align: middle;
  z-index: 6;
}
.topBar .btn-clear .clearBtn {
  border: 0;
  background-color: white;
}
.NoteList {
  margin-top: 68px;
}
.NoteList .NoteRow {
  vertical-align: middle;
}
