.btn_search {
  width: 100%;
}
.statusBar {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-top: 1px solid #999;
  background-color: white;
}
.NoteList .NoteRow {
  vertical-align: middle;
}
.topBar {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: white;
  height: 68px;
}
.topBar .title {
  float: left;
  margin-top: 4px;
  margin-left: 50%;
}
.NoteList {
  margin-top: 68px;
}
